pyTelegramBotAPI
requests
flask
sherlock-project
gunicorn
pymongo
apscheduler
pytz
feedparser
deep-translator
Pillow
pyrogram==2.0.106
pytgcalls==3.0.0.dev6
tgcrypto
yt-dlp
#yt-dlp
# आपकी बाकी की सभी लाइब्रेरी (flask, gunicorn, pymongo, आदि) जस की तस रहेंगी।
