pyTelegramBotAPI
requests
flask
pymongo
pillow
deep-translator
yt-dlp
feedparser
apscheduler
pytz
gTTS
setuptools==70.0.0
wheel
rvc-python
--index-url https://download.pytorch.org/whl/cpu
torch
torchaudio
